<template>
  <div class="container">
    <h1 class="title has-text-centered">Image Annotation</h1>

    <div class="columns has-background-white-ter">
    	<div class="column is-three-quarters">
		    <cropper
          class="cropper"
		    	:src="imgObj.image"
		    	@change="change"
          @ready="cropperReady"
		    ></cropper>

		    <div class="my-5">
		    	<input class="button is-info" type="submit" @click="submitCrops" value="Submit input">
		    </div>
		</div>

    	<div class="column is-one-quarter">
    		<div class="m-4">
          <b-dropdown
            class="m-1"
                    append-to-body
                    aria-role="menu"
                    scrollable
                    max-height="200"
                    trap-focus
                    v-model="vehicleTypeValue"
                    @change="changeAnnotation"
                    @active-change="createAnnotation"
                    :disabled="!updated"
                >
                    <template #trigger>
                        <a
                            class="button"
                            role="button">
                            <span>Create New Annotation</span>
                            <b-icon icon="menu-down"></b-icon>
                        </a>
                    </template>

                    <b-dropdown-item
                      :value="item"
                      v-for="item of vehicleTypes"
                      :key="item"
                      aria-role="listitem">
                    {{item}}</b-dropdown-item>
                </b-dropdown>
          <input class="button m-1 is-warning" @click="reset" type="reset" value="Reset">
        </div>
        <b-table class="my-5" v-if="annotationObjects.length" :data="annotationObjects">
          <b-table-column field="vehicleType" label="Type" v-slot="props">
              <b-tag type="is-info">{{ props.row['vehicleType'] }}</b-tag>
          </b-table-column>
          <b-table-column field="image" label="Image" v-slot="props">
              <b-image :src="props.row['image']"></b-image>
          </b-table-column>
        </b-table>
    	</div>
	</div>
  </div>
</template>



<script>
import axios from 'axios';

import { Cropper } from 'vue-advanced-cropper';
import 'vue-advanced-cropper/dist/style.css';

export default {
  name: 'AnnotationComponent',
  data() {
    return {
      imgObj: this.$route.params.img,

      newAnnotationObj: {
        image: null,
        vehicleType: null,
        coordinates: {
            width: 0,
            height: 0,
            left: 0,
            top: 0
        }
      },
      columns: [
        {
          field: 'vehicleType',
          label: 'Type',
        },
        {
          field: 'coordinates',
          label: 'Coordinates',
        },
      ],
      vehicleTypes: [
        'car',
        'bus',
        'bike',
        'autorickshaw',
      ],
      annotationObjects: [],
      updated: false,
      vehicleTypeValue: null
    }
  },
  methods: {
    populateAnnotations(canvas){
      let currVue = this;
      let ctx = canvas.getContext("2d");

      axios.get('/api/annotate', { params: { image: this.imgObj.id }}).then(function(resp) {
        for (let item of resp.data) {
          ctx.rect(item.coordinates.left, item.coordinates.top,  item.coordinates.width, item.coordinates.height);
          ctx.strokeStyle = "red";
          ctx.lineWidth = "6";
          ctx.stroke();

          let newObj = {
            coordinates: item.coordinates,
            vehicleType: item.object_type,
            image: canvas.toDataURL(),
            persisted: true
          }

    		  currVue.annotationObjects.push(newObj);
        }

      });
    },
    change({coordinates, canvas}){
    	console.log(coordinates, canvas)
    	this.newAnnotationObj.coordinates = coordinates;
    	this.newAnnotationObj.image = canvas.toDataURL();
    	this.updated = true;
    },
    cropperReady(){
      let cropper = this.$children.find(childComponent => {return childComponent.$options._componentTag === "cropper"; })
      let canvas = cropper.getCanvas();
      this.populateAnnotations(canvas);
    },
    changeAnnotation(val){
    	this.newAnnotationObj.vehicleType = val;
    },
    resetBaseAnnotation(){
    	this.newAnnotationObj = {
      		vehicleType: this.newAnnotationObj.vehicleType,
	      	coordinates: {
              width: 0,
              height: 0,
              left: 0,
              top: 0
          },
          persisted: false
	    }
	    this.updated = false;
	    this.vehicleTypeValue = null;
    },
    createAnnotation(isActive){
    	if (!isActive && this.newAnnotationObj.vehicleType){
    		this.annotationObjects.push(this.newAnnotationObj);
    		this.resetBaseAnnotation();
    	}
    },
    reset(val) {
    	this.annotationObjects = []
    },
    submitCrops(){
      let annoRequests = []

      for (let annotationObj of this.annotationObjects.filter(annotation => !annotation.persisted)) {

        let data = {
          object_type: annotationObj.vehicleType,
          coordinates: annotationObj.coordinates,
          image: this.imgObj.id
        }
        annoRequests.push(axios.post('/api/annotate', data))
      }

      let currVue = this;
      Promise.all(annoRequests).then(function (results) {
        console.log(results);
        currVue.annotationObjects.forEach(element => element.persisted = true);
        // Todo check if result.status is 201
        currVue.$buefy.toast.open({
            duration: 5000,
            message: `Annotations created.`,
            type: 'is-info'
        })
      });

    }
  },
  components: {
      Cropper
  }
}

</script>
