<template>
  <div class="container">
    <h1 class="title has-text-centered">Image Upload</h1>
    <div>
      <section v-if="!projects.length">
        <b-field label="Name">
          <b-input v-model="newProjectName"></b-input>
        </b-field>
        <button type="button"  @click="createProject">Create Project</button>
      </section>
    </div>

    <div v-if="projects.length">

      <p> <span class="tag is-info is-light">Project {{ this.selectedProject.name }}</span></p>
      <div class="my-5">
        <a href="/export_csv" class="button is-info">Export CSV</a>
      </div>

      <UploadImages :max="10" maxError="Maximum number of files exceeded" @changed="handleImages" />
      <div
        @click="handleUpload"
        class="button is-primary is-light my-4"
        :disabled="!filesAvailable">
        Save Images
      </div>
    </div >

    <section>
      <ImageListComponent :srcList="imageList"></ImageListComponent>

    </section>


  </div>
</template>

<script>
import axios from 'axios';

import ImageListComponent from '@/components/ImageListComponent.vue'
import UploadImages from "vue-upload-drop-images"

export default {
  name: 'HomeComponent',
  data() {
    return {
      url: '/api/images',
      filesAvailable: false,
      uploadedFiles: [],
      projects: [],
      newProjectName: '',
      imageList: [],
      selectedProject: null
    }
  },
  created() {
    this.setCreatedProjects();
    this.updateImageList();
  },
  methods: {
    setCreatedProjects() {
      let currVue = this;
      axios.get('/api/projects').then(function (response) {
        currVue.projects = response.data;

        // By default simply select the first created project. Should be a user selection later.
        currVue.selectedProject = response.data[0];
      });
    },
    createProject(){
      axios.post('/api/projects', {
          name: this.newProjectName,

        }).then(function (projectResponse) {
            console.log("Project Created.");
            console.log(projectResponse);
            this.projects.append(projectResponse.data.name)
        })
    },
    handleImages(files) {
      console.log(files);
      this.filesAvailable = files.length ? true : false;
      this.uploadedFiles = files;
    },
    handleUpload() {
      let project_id = this.projects[0].id

      let fileRequests = []

      for (let file of this.uploadedFiles) {
        let data = new FormData()
        data.append('image', file)
        data.append('project', project_id)
        data.append('name', file.name)
        fileRequests.push(axios.post('/api/images', data))
      }
      let currVue = this;
      Promise.all(fileRequests).then(
      function (results) {
        console.log(results);
        currVue.updateImageList()
      });
    },
    updateImageList(){
      let currVue = this;
      axios.get('/api/images').then(function(response){
        currVue.imageList = response.data;
        currVue.imageList.forEach(item => item['image'] = '/media/'+item['image']);
      });
    }
  },
  components: {
    ImageListComponent,
    UploadImages
  }
}
</script>

<style lang="scss" scoped>
</style>
