<template>
    <div class="container">
      <div class="columns">
        <div v-for="imgSrc in srcList" class="column">
          <router-link :to="{ name: 'annotation', params: { img: imgSrc }}">Annotate</router-link>
          <b-image
              :key="imgSrc.id"
              :src="imgSrc.image"
              :alt="imgSrc.name"
          ></b-image>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        name: 'ImageListComponent',
        props: {
          srcList: {
            type: Array,
            default: [],
          },
        },
    };
</script>
