<template>
  <div class="box">
    <h1 class="title">Login</h1>
    <div class="container">

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input v-model="login.email" class="input" type="email" placeholder="Email input">
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <input v-model="login.password" class="input" type="password" placeholder="Password">
      </div>

      <div class="field is-grouped">
        <p class="control">
          <button v-on:click="loginUser" class="button is-success">
            Login
          </button>
        </p>
        <div class="control">
          <router-link class="button" :to="{ name: 'register'}">
            Register
          </router-link>
        </div>
      </div>

      <div v-if="this.authError">
        <p class="has-text-danger is-size-6">Oops! Something went wrong. Unable to login user.</p>
      </div>

    </div>
  </div>
</template>

<script>
import axios from 'axios';

import router from '@/router'
import store from '@/store'

export default {
  name: 'LoginComponent',
  data() {
    return {
      authError: false,
      login: {
        email: '',
        password: '',
      }
    }
  },
  methods: {
    loginUser: function(event) {
      const payload = this.login;
      store.dispatch('postLogin', payload);
      this.authError = store.getters['authError'];
    },
    goToRegister() {
      router.push({ name: 'register' });
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
