<template>
	<b-navbar>
        <template #start>
            <b-navbar-item href="/">
                Home
            </b-navbar-item>
        </template>

        <template #end>
            <b-navbar-item v-if="isLoggedIn" tag="div">
                <div class="buttons">
                    <a @click="logoutUser" class="button is-light">
                        Log out
                    </a>
                </div>
            </b-navbar-item>
            <b-navbar-item v-else tag="div">
                <div class="buttons">
                    <router-link  class="button is-primary" :to="{ name: 'register'}">
                        <strong>Sign up</strong>
                    </router-link >
                    <router-link class="button  is-light" :to="{ name: 'login'}">
			              Login
		           	</router-link>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
import store from '@/store'

export default {
  name: 'Navbar',
  computed: {
    isLoggedIn() {
      return store.getters['isLoggedIn']
    },
  },
  methods: {
  	logoutUser() {
      store.dispatch('getLogout');
 	  }
  }
}

</script>
