<template>
  <div class="box">
    <h1 class="title has-text-centered">Register</h1>
    <div class="container">
      <b-field label="First Name">
          <b-input min="1" v-model="register.first_name" type="text" placeholder="First Name"></b-input>
      </b-field>

      <b-field label="Last Name">
          <b-input min="1" v-model="register.last_name" type="text" placeholder="Last Name"></b-input>
      </b-field>

      <b-field label="Email">
          <b-input min="1" v-model="register.email" type="email" placeholder="Email input"></b-input>
      </b-field>

      <b-field label="Password">
        <b-input min="1" v-model="register.password" type="password" placeholder="Password"></b-input>
      </b-field>

      <div class="field is-grouped">
        <p class="control">
          <button @click="createUser" class="button is-success">
            Register
          </button>
        </p>
        <div class="control">
          <router-link class="button" :to="{ name: 'login'}">
            Login
          </router-link>
        </div>
      </div>


      <div v-if="this.request_error">
        <p class="has-text-danger is-size-6">Oops! Something went wrong. Unable to create user.</p>
      </div>

    </div>
  </div>
</template>

<script>
import axios from 'axios';

import router from '@/router'
import store from '@/store'

export default {
  name: 'RegisterComponent',
  data() {
    return {
      request_error: false,
      register: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
      },
      project: {
        name: ''
      }
    }
  },
  methods: {
    createUser: function(event) {
      const payload = this.register;
      store.dispatch('postRegister', payload);
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
