<template>
    <div>
        <Navbar />
        <section class="section">
            <div class="container">
                <slot />
            </div>
        </section>
    </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
	name: 'Layout',
    components: {
        Navbar,
    },
}
</script>
