<template lang="html">
  <Layout>
    <router-view />
  </Layout>
</template>

<script>

import Layout from '@/layouts/Default.vue';
export default {
  name: 'App',
  components: {
    Layout
  }
}
</script>
